/* div class */

div.content {
    background-color: gray;
    height: 200px;
    width: 200px;
    float: left;
    margin: 20px;
}

div.contentSmall {
    background-color: gray;
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 30px;
    margin-top: 40px;
}

div.contentMid {
    background-color: gray;
    height: 200px;
    width: 250px;
    float: left;
    margin: 50px;
    margin-top: 0px
}

div.contentBig {
    background-color: gray;
    height: 220px;
    width: 680px;
    float: left;
    margin: 20px;
}